body{
    background-color:white ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.container{
    width: 420px;
    padding: 69px;
    height:160%;
    color:rgb(189, 232, 250);
    margin-top: 19%;
    text-align:center;
    background-color:#6c1852; /* rgb(218, 63, 140) */
    margin-left: 31%;
    margin-top: 38px; 
}
input{
    width: 205px;
    padding: 9.3px;
    align-items: center;
    outline: invert;
    font-size: 19px;
    margin-top: 1%;
    margin-block: 2.6%;
    margin-right : 0%;
}
button{
    width: 70px;
    margin-left:4%;
    height: 41.5px;
    background-color: rgb(209, 209, 255);
    border-style: none; 
    color: rgb(16, 16, 104);
    cursor:pointer;
    outline: none;
    font-size: 22px;
}
.text ul{
    position:relative;
    color: rgb(255, 255, 255);
    width: auto;
    padding:0vmax;
    font-size: 44px; 
    text-align: left;
    align-items:center;
}

.text ul i{
    position:absolute;
    right: 100%;
    align-content: center;
    cursor: pointer;
}


.item {
    display: flex;
    align-items: center;
    background-color: rgb(219, 137, 174);
    color:rgb(7, 47, 78);
    font-family: 'Times New Roman', Times, serif;
    font-size: 21.1px;
    height: 26px;
    width: 280px;
    padding: 22px;
    margin: 1.4% ;
    margin-left: 51px ;
    position: relative;
}
.material-icons {

    margin-left: auto;
    cursor: pointer;
    position: absolute;
    right: 15px; 
}